.InlineButton {
    height: 40px;
    width: 40px;
}

.BoldButton {
    font-weight: bold;
}

.ItalicButton {
    font-style: italic;
}

.UnderlineButton {
    text-decoration: underline;
}

.StrikethroughButton {
    text-decoration: line-through;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
}

.InlineSubButton {
    padding: none;
    box-sizing: border-box;
    position: relative;
    top: -1px;
    height: 40px;
    width: 20px;
}

.InlineSubButton > div {
    box-sizing: border-box;
    position: relative;
    right: 5px;
    width: 10px;
    height: 10px;
    border: transparent solid 5px;
    border-top: black solid 5px;
}
