.AddButton {
    background-color: #ff1654;
    color: white;
    font-size: 0.9em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 40px;
    width: 105px;
}

.AddButton:hover {
    background-color: #dd003b;
}
