.InlineButton {
    height: 40px;
    width: 40px;
    font-size: 1em;
    cursor: pointer;
}

.InlineSubButton {
    padding: none;
    box-sizing: border-box;
    position: relative;
    top: -1px;
    height: 40px;
    width: 20px;
    cursor: pointer;
}

.InlineSubButton > div {
    box-sizing: border-box;
    position: relative;
    right: 5px;
    width: 10px;
    height: 10px;
    border: transparent solid 5px;
    border-top: black solid 5px;
}

.active {
    color: blue;
}

.ButtonWithMenuContainer {
    width: 61px;
}
