.Note {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 35px 1fr;
    min-height: 240px;
    min-width: 220px;
    max-width: 500px;
    background-color: #ffffd7;
    color: #4e4e00;
    position: absolute;
    border-radius: 2px;
    box-shadow: #969583 -2px 2px 4px;
}

.Note.blue {
    background-color: #b6edff;
    color: #004196;
}

.Note.blue hr {
    border-color: #7eb7ff;
}

.Note.green {
    background-color: #bbf2bb;
    color: #004600;
}

.Note.green hr {
    border-color: #00b900;
}

.Note.pink {
    background-color: #ffe0e6;
    color: #9d0000;
}

.Note.pink hr {
    border-color: #ff5c5c;
}

.NoteEditorContainer {
    cursor: text;
    overflow: auto;
    padding: 0 25px;
}

.NoteGrabContainer {
    display: flex;
    place-items: center;
}

.NoteGrabContainer > hr {
    border-color: #b7b71c;
    width: 90%;
}

.NoteButtonContainer {
    position: absolute;
    top: -50px;
}

.NoteMenuButton {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -45px;
    width: 45px;
    padding: 10px;
    background: none;
    border: none;
}

.NoteMenuButton > svg {
    fill: #70704d;
    width: 100%;
}

.NoteMenuButton:hover > svg {
    fill: black;
}
