.EditorContainer {
    box-sizing: border-box;
    background: white;
    width: 70%;
    margin: 0 auto;
    padding: 30px 40px;
    box-shadow: -3px 4px 10px rgba(0, 0, 0, 0.25);
    min-height: 50vh;
    margin-top: 10px;
}

#MainContainer {
    box-sizing: border-box;
    padding-top: 120px;
    background-color: #ebebeb;
    min-width: 800px;
}
