.EditorContainer {
    box-sizing: border-box;
    background: white;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.InlineButton {
    height: 40px;
    width: 40px;
}

.BoldButton {
    font-weight: bold;
}

.ItalicButton {
    font-style: italic;
}

.UnderlineButton {
    text-decoration: underline;
}

.StrikethroughButton {
    text-decoration: line-through;
}

#titleInput {
    font-size: 2em;
    text-align: center;
    border: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}
